*.tga
*.dds
*.texture
*.bin
*.cas
*.CAS
*.mesh
*.bik
*.dat
*.evt
*.idx
*.sav
*.ico
*.anim*
*.debugdata
*.lighting
*.world*
*.wfc
*.tmp
*.exe
*.jpg
*.bits
*.cmi
*.sd
*.spr
*.veg_sprite
*.gif
*.bits*
*.ani
*.skel
*.mtl
*.sprite
*.vege_model
*.vege_sprite*
*.db
